# Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

## Imports

In [1]:
import numpy as np
import pandas as pd

## Creating a Series from Python Objects

In [ ]:
help(pd.Series)

### Index and Data Lists

We can create a Series from Python lists (also from NumPy arrays)

In [2]:
myindex = ['USA','Canada','Mexico']

In [3]:
mydata = [1776,1867,1821]

In [4]:
myser = pd.Series(data=mydata)

In [ ]:
myser

In [ ]:
pd.Series(data=mydata,index=myindex)

In [7]:
ran_data = np.random.randint(0,100,4)

In [ ]:
ran_data

In [9]:
names = ['Andrew','Bobo','Claire','David']

In [10]:
ages = pd.Series(ran_data,names)

In [ ]:
ages

### From a  Dictionary

In [12]:
ages = {'Sammy':5,'Frank':10,'Spike':7}

In [ ]:
ages

In [ ]:
pd.Series(ages)

# Key Ideas of a Series

## Named Index

In [15]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [16]:
# Convert into Pandas Series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [ ]:
sales_Q1

In [ ]:
# Call values based on Named Index
sales_Q1['Japan']

In [ ]:
# Integer Based Location information also retained!
sales_Q1[0]

**Be careful with potential errors!**

In [37]:
# Wrong Name
# sales_Q1['France']

In [38]:
# Accidental Extra Space
# sales_Q1['USA ']

In [39]:
# Capitalization Mistake
# sales_Q1['usa']

## Operations

In [ ]:
# Grab just the index keys
sales_Q1.keys()

In [ ]:
# Can Perform Operations Broadcasted across entire Series
sales_Q1 * 2

In [ ]:
sales_Q2 / 100

## Between Series

In [ ]:
# Notice how Pandas informs you of mismatch with NaN
sales_Q1 + sales_Q2

In [ ]:
# You can fill these with any value you want
sales_Q1.add(sales_Q2,fill_value=0)