___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Groupby Operations and Multi-level Index

In [26]:
import numpy as np
import pandas as pd

## Data

In [41]:
data = {
    'Category': ['A', 'B', 'A', 'B'],
    'Value': [1,2,3,4]  
}

df = pd.DataFrame(data)
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')
df.groupby('Value').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [34]:
df

  Category Value
0        A     1
1        B     2
2        A     3
3        B     4

## groupby() method

In [31]:
# Creates a groupby object waiting for an aggregate method
df.groupby('mpg')

#### Adding an aggregate method call. To use a grouped object, you need to tell pandas how you want to aggregate the data.

Common Options:

    mean(): Compute mean of groups
    sum(): Compute sum of group values
    size(): Compute group sizes
    count(): Compute count of group
    std(): Standard deviation of groups
    var(): Compute variance of groups
    sem(): Standard error of the mean of groups
    describe(): Generates descriptive statistics
    first(): Compute first of group values
    last(): Compute last of group values
    nth() : Take nth value, or a subset if n is a list
    min(): Compute min of group values
    max(): Compute max of group values
    
Full List at the Online Documentation: https://pandas.pydata.org/docs/reference/groupby.html

In [20]:
# model_year becomes the index! It is NOT a column name,it is now the name of the index
df['model_year'] = pd.to_numeric(df['model_year'], errors='coerce')

In [36]:
df.groupby('Category').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
avg_year = df.groupby('model_year').mean()

In [ ]:
avg_year.index

In [ ]:
avg_year.columns

In [ ]:
avg_year['mpg']

In [ ]:
df.groupby('model_year').mean()['mpg']

In [14]:
df.groupby('model_year').describe()

             mpg                                                          \
           count       mean       std   min     25%    50%     75%   max
model_year
70          29.0  17.689655  5.339231   9.0  14.000  16.00  22.000  27.0
71          28.0  21.250000  6.591942  12.0  15.500  19.00  27.000  35.0
72          28.0  18.714286  5.435529  11.0  13.750  18.50  23.000  28.0
73          40.0  17.100000  4.700245  11.0  13.000  16.00  20.000  29.0
74          27.0  22.703704  6.420010  13.0  16.000  24.00  27.000  32.0
75          30.0  20.266667  4.940566  13.0  16.000  19.50  23.000  33.0
76          34.0  21.573529  5.889297  13.0  16.750  21.00  26.375  33.0
77          28.0  23.375000  6.675862  15.0  17.375  21.75  30.000  36.0
78          36.0  24.061111  6.898044  16.2  19.350  20.70  28.000  43.1
79          29.0  25.093103  6.794217  15.5  19.200  23.90  31.800  37.3
80          29.0  33.696552  7.037983  19.1  29.800  32.70  38.100  46.6
81          29.0  30.334483  5.591465  17.6  26.600  31.60  34.400  39.1
82          31.0  31.709677  5.392548  22.0  27.000  32.00  36.000  44.0

           cylinders            ... acceleration       origin            \
               count      mean  ...          75%   max  count      mean
model_year                      ...
70              29.0  6.758621  ...       15.000  20.5   29.0  1.310345
71              28.0  5.571429  ...       16.125  20.5   28.0  1.428571
72              28.0  5.821429  ...       16.625  23.5   28.0  1.535714
73              40.0  6.375000  ...       16.000  21.0   40.0  1.375000
74              27.0  5.259259  ...       17.000  21.0   27.0  1.666667
75              30.0  5.600000  ...       17.375  21.0   30.0  1.466667
76              34.0  5.647059  ...       17.550  22.2   34.0  1.470588
77              28.0  5.464286  ...       16.925  19.0   28.0  1.571429
78              36.0  5.361111  ...       16.825  21.5   36.0  1.611111
79              29.0  5.827586  ...       17.300  24.8   29.0  1.275862
80              29.0  4.137931  ...       18.700  23.7   29.0  2.206897
81              29.0  4.620690  ...       17.300  20.7   29.0  1.965517
82              31.0  4.193548  ...       18.000  24.6   31.0  1.645161


                 std  min  25%  50%  75%  max
model_year
70          0.603765  1.0  1.0  1.0  1.0  3.0
71          0.741798  1.0  1.0  1.0  2.0  3.0
72          0.792658  1.0  1.0  1.0  2.0  3.0
73          0.667467  1.0  1.0  1.0  2.0  3.0
74          0.832050  1.0  1.0  1.0  2.0  3.0
75          0.730297  1.0  1.0  1.0  2.0  3.0
76          0.706476  1.0  1.0  1.0  2.0  3.0
77          0.835711  1.0  1.0  1.0  2.0  3.0
78          0.837608  1.0  1.0  1.0  2.0  3.0
79          0.591400  1.0  1.0  1.0  1.0  3.0
80          0.818505  1.0  2.0  2.0  3.0  3.0
81          0.944259  1.0  1.0  2.0  3.0  3.0
82          0.914636  1.0  1.0  1.0  3.0  3.0

[13 rows x 48 columns]

In [ ]:
df.groupby('model_year').describe().transpose()

## Groupby Multiple Columns
Let's explore average mpg per year per cylinder count

In [16]:
df.groupby(['model_year','cylinders']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
df.groupby(['model_year','cylinders']).mean().index

# MultiIndex

## The MultiIndex Object

In [15]:
year_cyl = df.groupby(['model_year','cylinders']).mean()

In [ ]:
year_cyl

In [ ]:
year_cyl.index

In [ ]:
year_cyl.index.levels

In [ ]:
year_cyl.index.names

# Indexing with the Hierarchical Index

Full Documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [ ]:
year_cyl.head()

## Grab Based on Outside Index

In [ ]:
year_cyl.loc[70]

In [ ]:
year_cyl.loc[[70,72]]

## Grab a Single Row

In [ ]:
year_cyl.loc[(70,8)]

# Grab Based on Cross-section with .xs()

This method takes a `key` argument to select data at a particular
level of a MultiIndex.

Parameters
----------
    key : label or tuple of label
        Label contained in the index, or partially in a MultiIndex.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to retrieve cross-section on.
    level : object, defaults to first n levels (n=1 or len(key))
        In case of a key partially contained in a MultiIndex, indicate
        which levels are used. Levels can be referred by label or position.

In [ ]:
year_cyl.xs(key=70,axis=0,level='model_year')

In [ ]:
# Mean column values for 4 cylinders per year
year_cyl.xs(key=4,axis=0,level='cylinders')

### Careful note!

Keep in mind, its usually much easier to filter out values **before** running a groupby() call, so you should attempt to filter out any values/categories you don't want to use. For example, its much easier to remove **4** cylinder cars before the groupby() call, very difficult to this sort of thing after a group by.

In [ ]:
df[df['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean()

## Swap Levels

* Swapping Levels: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#swapping-levels-with-swaplevel
* Generalized Method is reorder_levels: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#reordering-levels-with-reorder-levels

In [ ]:
year_cyl.swaplevel().head()

## Sorting MultiIndex

* https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#sorting-a-multiindex

In [ ]:
year_cyl.sort_index(level='model_year',ascending=False)

In [ ]:
year_cyl.sort_index(level='cylinders',ascending=False)

# Advanced: agg() method

The agg() method allows you to customize what aggregate functions you want per category

In [ ]:
df

## agg() on a DataFrame

In [ ]:
# These strings need to match up with built-in method names
df.agg(['median','mean'])

In [ ]:
df.agg(['sum','mean'])[['mpg','weight']]

### Specify aggregate methods per column

**agg()** is very powerful,allowing you to pass in a dictionary where the keys are the columns and the values are a list of aggregate methods.

In [ ]:
df.agg({'mpg':['median','mean'],'weight':['mean','std']})

## agg() with groupby()

In [ ]:
df.groupby('model_year').agg({'mpg':['median','mean'],'weight':['mean','std']})